.navbar {
	z-index: 3;
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	&__list {
		margin: 0;
		list-style: none;
		padding: 0;
	}
	&__item {
		&.active {
			.navbar__link {
				background-color: $color-primary-3;
			}
		}
	}
	&__link {
		display: block;
		text-align: center;
		font-weight: 100;
		padding: 0.5em 1em;
		opacity: 0.5;
		background-color: rgba($color-secondary-2-1, 0.25);
		color: $color-light;
		letter-spacing: 0.1em;
		font-size: 1.5rem;
		transition: opacity 1s, background-color 1s;
		&:hover {
			opacity: 1;
			background-color: rgba($color-secondary-2-1, 0.5);
		}
	}
}
