/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  z-index: 1;
  max-width: 1200px;
  padding: 100px 20px;
}

.navbar {
  z-index: 3;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.navbar__list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.navbar__item.active .navbar__link {
  background-color: #aa2713;
}
.navbar__link {
  display: block;
  text-align: center;
  font-weight: 100;
  padding: 0.5em 1em;
  opacity: 0.5;
  background-color: rgba(87, 150, 167, 0.25);
  color: #ffffff;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  -webkit-transition: opacity 1s, background-color 1s;
  -o-transition: opacity 1s, background-color 1s;
  transition: opacity 1s, background-color 1s;
}
.navbar__link:hover {
  opacity: 1;
  background-color: rgba(87, 150, 167, 0.5);
}

.header {
  min-height: 100vh;
  position: relative;
  background-image: url("../img/potential.jpg");
  background-size: cover;
  background-position: 50% 80%;
}
.header__overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}
.header__overlay-extra::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #034052;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 100%);
}
.header__overlay-extra::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #034052;
  -webkit-clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
}
.header__overlay::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #d53d27;
  -webkit-clip-path: polygon(100% 20%, 100% 20%, 100% 80%, 0% 100%);
          clip-path: polygon(100% 20%, 100% 20%, 100% 80%, 0% 100%);
}
.header__title {
  margin: 0;
  padding: 55px 118px;
  font-family: "Roboto Slab", serif;
  font-size: 7rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #ffffff;
}
.header__title-bold {
  font-weight: 900;
  font-size: 10rem;
}

.html {
  min-height: 100vh;
  background-image: url("../img/html5.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.html__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-linear-gradient(315deg, rgba(53, 123, 143, 0.75) 0%, rgba(2, 37, 48, 0.9) 30%, rgba(0, 6, 8, 0.9) 100%);
  background: linear-gradient(135deg, rgba(53, 123, 143, 0.75) 0%, rgba(2, 37, 48, 0.9) 30%, rgba(0, 6, 8, 0.9) 100%);
}
.html__container {
  z-index: 777;
  max-width: 1200px;
  padding: 100px 20px;
}
.html__title {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-size: 5rem;
  margin: 0 0 0.4em 0;
  text-align: center;
  letter-spacing: 0.1em;
}
.html__title span {
  margin-left: 20px;
  font-weight: 900;
}
.html__subtitle {
  position: relative;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 0.1em;
  line-height: 1.25;
  text-align: center;
  margin: 0 0 86px 0;
  padding-bottom: 48px;
}
.html__subtitle::after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #ffffff;
  width: 230px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}
.html__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
.html__description-logo {
  width: 200px;
  margin: 10px 0 0 0;
}
.html__description-text {
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.5em;
  margin: 0;
}

.css {
  min-height: 100vh;
  background-image: url("../img/css3.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.css__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-linear-gradient(315deg, rgba(255, 192, 128, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%);
  background: linear-gradient(135deg, rgba(255, 192, 128, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%);
}
.css__container {
  z-index: 777;
  max-width: 1200px;
  padding: 100px 20px;
}
.css__title {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  color: #034052;
  font-weight: 300;
  font-size: 5rem;
  margin: 0 0 0.4em 0;
  text-align: center;
  letter-spacing: 0.1em;
}
.css__title span {
  margin-left: 20px;
  font-weight: 900;
}
.css__subtitle {
  position: relative;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  color: #034052;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 0.1em;
  line-height: 1.25;
  text-align: center;
  margin: 0 0 86px 0;
  padding-bottom: 48px;
}
.css__subtitle span {
  white-space: nowrap;
}
.css__subtitle::after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #034052;
  width: 230px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}
.css__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
.css__description-logo {
  width: 200px;
  margin: 10px 0 0 0;
}
.css__description-text {
  color: #034052;
  font-size: 2rem;
  line-height: 1.5em;
  margin: 0;
}

.javascript {
  min-height: 100vh;
  background-image: url("../img/js.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.javascript__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-linear-gradient(315deg, rgba(87, 150, 167, 0.5) 0%, rgba(2, 37, 48, 0.85) 30%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(135deg, rgba(87, 150, 167, 0.5) 0%, rgba(2, 37, 48, 0.85) 30%, rgba(0, 0, 0, 0.9) 100%);
}
.javascript__title {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 5rem;
  margin: 0 0 0.4em 0;
  text-align: center;
  letter-spacing: 0.1em;
}
.javascript__subtitle {
  position: relative;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 0.1em;
  line-height: 1.25;
  text-align: center;
  margin: 0 0 86px 0;
  padding-bottom: 48px;
}
.javascript__subtitle span {
  white-space: nowrap;
}
.javascript__subtitle::after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #ffffff;
  width: 230px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}
.javascript__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
.javascript__description-logo {
  width: 200px;
  margin: 10px 0 0 0;
}
.javascript__description-text {
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.5em;
  margin: 0;
}

.frontend {
  min-height: 100vh;
  background-image: url("../img/fe-logo.png");
  background-repeat: no-repeat;
  background-position: -10% -10%;
  background-size: 75%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #034052;
  text-shadow: 5px 5px 10px #ffffff, 0 0 30px #ffffff;
}
.frontend__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0.4) 50%, rgba(255, 192, 128, 0.4) 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 50%, rgba(255, 192, 128, 0.4) 100%);
}
.frontend__title {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  margin: 0 0 0.4em 0;
  text-align: center;
  letter-spacing: 0.1em;
}
.frontend__title b {
  font-size: 5rem;
  font-weight: 900;
}
.frontend__title span {
  font-size: 5rem;
}
.frontend__subtitle {
  position: relative;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.1em;
  line-height: 1.25;
  text-align: center;
  margin: 0 0 160px 0;
  padding-bottom: 48px;
  -webkit-transform: translateX(130px);
      -ms-transform: translateX(130px);
          transform: translateX(130px);
}
.frontend__description {
  position: absolute;
  bottom: 80px;
  font-size: 2rem;
  line-height: 1.5em;
  -moz-text-align-last: justify;
       text-align-last: justify;
  max-width: 999px;
}

.footer {
  background-color: #034052;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}
.footer__container {
  padding: 50px 40px;
}
.footer__contacts {
  margin-bottom: 20px;
}
.footer__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__contacts-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  opacity: 0.7;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  -o-transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.footer__contacts-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}
.footer__copyright {
  opacity: 0.7;
  text-align: center;
}
@media (min-width: 1600px) {
  body .not-responsive {
    display: none;
  }
}
@media (max-width: 1599px) {
  body > * {
    display: none !important;
  }
  body .not-responsive {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    padding-right: 100px;
    padding-left: 100px;
    color: #034052;
    font-size: 4rem;
  }
}